[package]
name = "bevy_garage"
version = "0.3.0"
authors = ["Alexi Chepura <a.chepura@gmail.com>"]
edition = "2021"
license = "MIT OR Apache-2.0"
description = "Space about cars and driving"
[package.metadata.bundle]
identifier = "io.github.alexichepura.bevy_garage"
[workspace]
resolver = "2"
members = ["prisma-cli", "api", "trainer", "db_client", "ios", "track"]
[profile.release]
codegen-units = 1
[features]
brain = ["dep:dfdx", "dep:futures-lite", "dep:crossbeam-channel"]
brain_api = ["dep:reqwest", "dep:tokio", "dep:serde", "dep:serde_json"]
default = ["debug_lines"]
debug_lines = ["dep:bevy_prototype_debug_lines"]
[workspace.dependencies]
bevy = { version = "0.10", features = ["jpeg"] }
dfdx = "0.11"
prisma-client-rust = { git = "https://github.com/Brendonovich/prisma-client-rust", tag = "0.6.4", default-features = false, features = ["sqlite","sqlite-create-many"] }
prisma-client-rust-cli = { git = "https://github.com/Brendonovich/prisma-client-rust", tag = "0.6.4", default-features = false, features = ["sqlite","sqlite-create-many"] }
rand = "0.8"
serde = { version = "1", features = ["derive"] }
serde_json = "1"
tokio = { version = "1", features = ["full"] }
[dependencies]
bevy = { workspace = true }
# bevy_rapier3d = { version = "0.21", features = ["serde-serialize"] }
bevy_rapier3d = { git = "https://github.com/dimforge/bevy_rapier", features = ["serde-serialize"] }
parry3d = "0.13"
nalgebra = "0.32"
rand = { workspace = true }
wgpu = { version = "0.15", features = ["spirv"] }
serde = { workspace = true, optional = true }
serde_json = { workspace = true, optional = true }
crossbeam-channel = { version = "0.5", optional = true }
dfdx = { workspace = true, optional = true }
futures-lite = { version = "1.12", optional = true }
bevy_prototype_debug_lines = { version = "0.10", features = ["3d"], optional = true }
reqwest = { version = "0.11", default-features = false, features = ["json"], optional = true }
[target.'cfg(not(target_arch = "wasm32"))'.dependencies]
tokio = { workspace = true, optional = true }
