[package]
name    = "bevy_rapier_3d_car_sim"
version = "0.1.0"
authors = [ "Alexi Chepura <a.chepura@gmail.com>" ]
edition = "2021"
license = "MIT OR Apache-2.0"
[workspace]
resolver = "2"
members = ["prisma-cli"]
[profile.release]
codegen-units = 1
[dependencies]
bevy = { version = "0.9.1" }
# bevy_atmosphere = "0.4.1"
bevy_atmosphere = {git="https://github.com/JonahPlusPlus/bevy_atmosphere"}
bevy_framepace = { version = "0.9.1"}
bevy_prototype_debug_lines = { version = "0.9.0", features = ["3d"] }
bevy_rapier3d = { version = "0.19.0", features=["serde-serialize"]}
dfdx = { version = "0.9.0" }
obj-rs = { version =  "0.7.0", default-features = false }
parry3d = "0.11.1"
prisma-client-rust = { git = "https://github.com/Brendonovich/prisma-client-rust", tag = "0.6.3", default-features = false, features = ["sqlite", "sqlite-create-many"] }
rand = "0.8.5"
serde = { version = "1.0.148", features = ["derive"] }
serde_json = "1.0.89"
tokio = { version = "1.22.0", features = ["full"] }

# [profile.dev.package.bevy_rapier3d]
# opt-level = 3
# [profile.dev.package.rapier3d]
# opt-level = 3
# [profile.release.package.bevy_rapier3d]
# opt-level = 3
# [profile.release.package.rapier3d]
# opt-level = 3
[dev-dependencies]
